# Exoplanets data retrieval test

### Nasa API data extraction

In [1]:
import requests
import pandas as pd
from io import StringIO
from urllib.parse import quote_plus

In [15]:
# Function to download and save data from the NASA Exoplanet Archive
def fetch_exoplanet_tap(sql, fmt="csv", save_path=None):
    """
    Downloads data from the NASA Exoplanet Archive via TAP, loads it into a DataFrame,
    and (optionally) saves the CSV file.

    Parameters:
        sql (str): SQL query to execute.
        fmt (str): Output format (default: "csv").
        save_path (str): File path to save the CSV (optional).

    Returns:
        pd.DataFrame: The imported data.
    """
    url = f"https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query={quote_plus(sql)}&format={fmt}"
    print(f"Fetching data from: {url}")

    r = requests.get(url, timeout=60)
    r.raise_for_status()

    if save_path:
        with open(save_path, "w", encoding="utf-8") as f:
            f.write(r.text)
        print(f"✅ File saved as: {save_path}")

    df = pd.read_csv(StringIO(r.text))
    return df

In [16]:
try:
    sql = "select pl_name,hostname,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_facility,disc_instrument,pl_orbper,pl_rade,pl_radj,pl_masse,pl_massj,pl_dens,st_rad,st_mass,sy_dist,releasedate from ps"
    df = fetch_exoplanet_tap(sql, save_path="exoplanet_data.csv")
    display(df.head())
except Exception as e:
    print("TAP failed:", e)

Fetching data from: https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+pl_name%2Chostname%2Csy_snum%2Csy_pnum%2Csy_mnum%2Cdiscoverymethod%2Cdisc_year%2Cdisc_facility%2Cdisc_instrument%2Cpl_orbper%2Cpl_rade%2Cpl_radj%2Cpl_masse%2Cpl_massj%2Cpl_dens%2Cst_rad%2Cst_mass%2Csy_dist%2Creleasedate+from+ps&format=csv
✅ File saved as: exoplanet_data.csv

,pl_name,hostname,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_facility,disc_instrument,pl_orbper,pl_rade,pl_radj,pl_masse,pl_massj,pl_dens,st_rad,st_mass,sy_dist,releasedate
0,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234699,13.410000,1.196362,NaN,NaN,NaN,1.29100,1.047,587.039,2015-08-25
1,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234694,13.316002,1.187976,NaN,NaN,NaN,1.31474,NaN,587.039,2024-09-16
2,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234723,14.830000,1.323000,212.61900,0.669,0.352,1.39100,1.209,587.039,2014-05-14
3,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234699,13.103321,1.169000,205.63601,0.647,0.490,1.26100,1.114,587.039,2019-03-21
4,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234699,NaN,NaN,NaN,NaN,NaN,1.31474,0.990,587.039,2016-07-28

In [6]:
exoplanets=pd.read_csv("..\data\exoplanets_data.csv")

In [7]:
len(exoplanets.pl_name.unique())

6042

In [8]:
unique_exo=exoplanets.sort_values(['pl_name', 'releasedate'], ascending=[True, False]).drop_duplicates(subset='pl_name', keep='first')

In [12]:
unique_exo.disc_facility.unique()

array(['Xinglong Station', 'Thueringer Landessternwarte Tautenburg',
       'Okayama Astrophysical Observatory', 'W. M. Keck Observatory',
       'Multiple Observatories', 'Lick Observatory', 'Gemini Observatory',
       'Subaru Telescope', 'Paranal Observatory',
       'Cerro Tololo Inter-American Observatory', 'Mauna Kea Observatory',
       'European Space Agency (ESA) Gaia Satellite',
       'Hubble Space Telescope', 'Kepler', 'Haute-Provence Observatory',
       'McDonald Observatory', 'Anglo-Australian Telescope',
       'Bohyunsan Optical Astronomical Observatory',
       'Transiting Exoplanet Survey Satellite (TESS)',
       'Roque de los Muchachos Observatory', 'K2',
       'Wide-field Infrared Survey Explorer (WISE) Satellite Mission',
       'La Silla Observatory', 'Calar Alto Observatory',
       'NASA Infrared Telescope Facility (IRTF)', 'CoRoT',
       'Multiple Facilities', 'Yunnan Astronomical Observatory',
       'Spitzer Space Telescope', 'MEarth Project',
       'Very Long Baseline Array', 'Acton Sky Portal Observatory',
       'Palomar Observatory', 'HATNet', 'HATSouth',
       'Kitt Peak National Observatory', 'Las Campanas Observatory',
       'CHaracterising ExOPlanets Satellite (CHEOPS)',
       'European Southern Observatory',
       'Fred Lawrence Whipple Observatory', 'Apache Point Observatory',
       'Atacama Large Millimeter Array (ALMA)', 'KELT', 'KELT-South',
       'KELT-North', 'KMTNet', 'KOINet', 'SPECULOOS Southern Observatory',
       'Large Binocular Telescope Observatory',
       'South African Radio Astronomy Observatory (SARAO)', 'MOA',
       'Next-Generation Transit Survey (NGTS)', 'Winer Observatory',
       'OGLE', 'Arecibo Observatory', 'Parkes Observatory', 'Qatar',
       'Leoncito Astronomical Complex', 'Infrared Survey Facility',
       'TrES', 'Teide Observatory', 'SuperWASP', 'SuperWASP-South',
       'SuperWASP-North', 'WASP-South',
       'James Webb Space Telescope (JWST)',
       'United Kingdom Infrared Telescope', 'Haleakala Observatory', 'XO',
       'Lowell Observatory', 'Zwicky Transient Facility',
       'University of Canterbury Mt John Observatory'], dtype=object)

In [15]:
obs_position=pd.read_excel("..\data\eso-astronomical-observatory-sites.xlsx")

In [16]:
obs_position

,Name,Instruments,Altitude,Type,Description source,Geometry,geo_point_2d
0,Ice Cube Neutrino N Observatory,NaN,-2452.0,Modern Astronomical Observatory,Modern Astronomical Observatory [-2452 meters ...,"{""coordinates"":[0.0,-90.0],""type"":""Point""}","-90.0, 0.0"
1,Córdoba Astronomical Observatory Córdoba,NaN,434.0,Modern Astronomical Observatory,Modern Astronomical Observatory [434 meters AMSL],"{""coordinates"":[-64.1966666666667,-31.42166666...","-31.4216666666667, -64.1966666666667"
2,La Plata Astronomical Observatory La Plata,NaN,17.0,Modern Astronomical Observatory,Modern Astronomical Observatory [17 meters AMSL],"{""coordinates"":[-57.9316666666667,-34.90833333...","-34.9083333333333, -57.9316666666667"
3,Vienna University Observatory Vienna,NaN,241.0,Modern Astronomical Observatory,Modern Astronomical Observatory [241 meters AMSL],"{""coordinates"":[16.3366666666667,48.2316666666...","48.2316666666667, 16.3366666666667"
4,Metsähovi Observatory Kirkkonummi,NaN,60.0,Modern Astronomical Observatory,Modern Astronomical Observatory [60 meters AMSL],"{""coordinates"":[24.3966666666667,60.22],""type""...","60.22, 24.3966666666667"
...,...,...,...,...,...,...,...
534,Chabot Space & Science Center Oakland,NaN,476.0,Modern Astronomical Observatory,Modern Astronomical Observatory [476 meters AMSL],"{""coordinates"":[-122.181666666667,37.818333333...","37.8183333333333, -122.181666666667"
535,Naval Rsch. Lab. Radio Astronomical Observator...,Radio,30.0,Modern Astronomical Observatory,Modern Astronomical Observatory [30 meters AMSL],"{""coordinates"":[-77.0266666666667,38.821666666...","38.8216666666667, -77.0266666666667"
536,Bradley Observatory Decatur,NaN,316.0,Modern Astronomical Observatory,Modern Astronomical Observatory [316 meters AMSL],"{""coordinates"":[-84.2933333333333,33.765],""typ...","33.765, -84.2933333333333"
537,Black Moshannon Observatory State College/Ratt...,NaN,738.0,Modern Astronomical Observatory,Modern Astronomical Observatory [738 meters AMSL],"{""coordinates"":[-78.005,40.9216666666667],""typ...","40.9216666666667, -78.005"
538,Pine Bluff Observatory Pine Bluff,NaN,366.0,Modern Astronomical Observatory,Modern Astronomical Observatory [366 meters AMSL],"{""coordinates"":[-89.685,43.0783333333333],""typ...","43.0783333333333, -89.685"

In [20]:
pd.merge(unique_exo, obs_position, how='left', left_on='disc_facility', right_on='Name')

,pl_name,hostname,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_facility,disc_instrument,pl_orbper,...,st_mass,sy_dist,releasedate,Name,Instruments,Altitude,Type,Description source,Geometry,geo_point_2d
0,11 Com b,11 Com,2,1,0,Radial Velocity,2007,Xinglong Station,Coude Echelle Spectrograph,323.210000,...,2.090000,93.1846,2023-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11 UMi b,11 UMi,1,1,0,Radial Velocity,2009,Thueringer Landessternwarte Tautenburg,Coude Echelle Spectrograph,516.219970,...,2.780000,125.3210,2018-09-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14 And b,14 And,1,1,0,Radial Velocity,2008,Okayama Astrophysical Observatory,HIDES Echelle Spectrograph,186.760000,...,1.780000,75.4392,2023-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14 Her b,14 Her,1,2,0,Radial Velocity,2002,W. M. Keck Observatory,HIRES Spectrometer,1765.038900,...,0.910000,17.9323,2023-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16 Cyg B b,16 Cyg B,3,1,0,Radial Velocity,1996,Multiple Observatories,Multiple Instruments,799.450000,...,0.982996,21.1397,2021-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6037,ups And b,ups And,2,3,0,Radial Velocity,1996,Lick Observatory,Hamilton Echelle Spectrograph,4.617122,...,1.294197,13.4054,2022-05-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6038,ups And c,ups And,2,3,0,Radial Velocity,1999,Multiple Observatories,Multiple Instruments,241.223000,...,1.294197,13.4054,2021-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6039,ups And d,ups And,2,3,0,Radial Velocity,1999,Multiple Observatories,Multiple Instruments,1282.410000,...,1.294197,13.4054,2021-09-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6040,ups Leo b,ups Leo,1,1,0,Radial Velocity,2021,Okayama Astrophysical Observatory,HIDES Echelle Spectrograph,385.200000,...,1.480000,52.5973,2022-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6041,xi Aql b,xi Aql,1,1,0,Radial Velocity,2007,Okayama Astrophysical Observatory,HIDES Echelle Spectrograph,136.970000,...,1.740000,56.1858,2023-09-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
exo_rad=10.95 * 2
bubble_plot_df = pd.DataFrame({
    'planet': ['earth', 'jupiter', 'exo'], 
    'rad': [1, 10.95, exo_rad],
    'y':[1, 1, 1]
})

# Dynamically calculate x positions
x_positions = [0]  # Start the first circle at x=0
for i in range(1, len(bubble_plot_df)):
    # Distance between perimeters is equal to the sum of radii of consecutive circles
    distance_between_centers = (bubble_plot_df["rad"][i - 1] + 2 + bubble_plot_df["rad"][i])/2
    x_positions.append(x_positions[-1] + distance_between_centers)

# Add x positions to the DataFrame
bubble_plot_df["x"] = x_positions

In [7]:
bubble_plot_df

    planet    rad  y       x
0    earth   1.00  1   0.000
1  jupiter  10.95  1   6.975
2      exo  21.90  1  24.400

In [6]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_astronomical_observatories"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

response = requests.get(url, headers=headers)
response.raise_for_status()

soup = BeautifulSoup(response.text, 'html.parser')

# Find the correct table by matching the headers
table = None
for tbl in soup.find_all('table', {'class':'wikitable'}):
    headers = [th.get_text(strip=True) for th in tbl.find_all('th')]
    if headers[:3] == ['Name', 'Established', 'Location']:
        table = tbl
        break

# Parse rows
rows = []
for tr in table.find_all('tr')[1:]:
    tds = tr.find_all('td')
    if len(tds) >= 3:
        name_td = tds[0]
        name_link = None
        a_tag = name_td.find('a', href=True)
        if a_tag:
            name_link = 'https://en.wikipedia.org' + a_tag['href']
        name_text = name_td.get_text(strip=True)
        established = tds[1].get_text(strip=True)
        location = tds[2].get_text(strip=True)
        rows.append({
            'Name': name_text,
            'Link': name_link,
            'Established': established,
            'Location': location
        })

observatories_df = pd.DataFrame(rows)

observatories_df.to_csv("../data/astronomical_observatories_with_links.csv", index=False)
print(observatories_df.head())

                                   Name  \
0  Abastumani Astrophysical Observatory
1      Abu Reyhan-e Birooni Observatory
2         Adirondack Public Observatory
3                             Aditya-L1
4                 Adolphson Observatory

                                                Link Established  \
0  https://en.wikipedia.org/wiki/Georgian_Nationa...        1932
1  https://en.wikipedia.org/w/index.php?title=Abu...        1976
2  https://en.wikipedia.org/w/index.php?title=Adi...
3            https://en.wikipedia.org/wiki/Aditya-L1        2023
4  https://en.wikipedia.org/wiki/Adolphson_Observ...        2013

                         Location
0             Abastumani, Georgia
1  Shiraz University,Shiraz, Iran
2       Tupper Lake, New York, US
3                    Sun-Earth L1
4          Monmouth, Illinois, US

In [14]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import logging

logging.basicConfig(level=logging.INFO)

geolocator = Nominatim(
    user_agent="your-app-name/1.0 (chiara.torri@yahoo.com)",  # required by policy
    timeout=5
)

# Respect rate limits (e.g. 1 request per second)
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

def get_location(city_name: str):
    # First, try the full string
    try:
        location = geocode(city_name)
        if location:
            return (location.latitude, location.longitude)
    except Exception as e:
        logging.warning("Error geocoding %r (full): %s", city_name, e)

    # Fallback: first two comma-separated parts (as string)
    parts = [p.strip() for p in city_name.split(",") if p.strip()]
    if len(parts) >= 2:
        try:
            q = ", ".join(parts[:2])
            location = geocode(q)
            if location:
                return (location.latitude, location.longitude)
        except Exception as e:
            logging.warning("Error geocoding %r (first two parts): %s", city_name, e)

    # Fallback: just the first part (often city)
    if parts:
        try:
            q = parts[0]
            location = geocode(q)
            if location:
                return (location.latitude, location.longitude)
        except Exception as e:
            logging.warning("Error geocoding %r (first part): %s", city_name, e)

    logging.warning("⚠️ no coordinates found for: %r", city_name)
    return (None, None)

In [15]:

observatories_location=pd.DataFrame({'Location':observatories_df['Location'].unique()})

In [16]:
observatories_location['geolocation'] = observatories_location['Location'].apply(get_location)

WARNING:root:⚠️ no coordinates found for: 'Sun-Earth L1'
WARNING:root:⚠️ no coordinates found for: 'In theMediterranean SeanearToulon, France'
WARNING:root:⚠️ no coordinates found for: 'Highly eccentric Earth orbit'
WARNING:root:⚠️ no coordinates found for: 'Llano de Chajnantor Observatory, Chile'
WARNING:root:⚠️ no coordinates found for: 'Low Earth orbit'
WARNING:root:⚠️ no coordinates found for: 'Earth–SunL1 point'
WARNING:root:⚠️ no coordinates found for: 'Highly eccentricEarth orbit'
WARNING:root:⚠️ no coordinates found for: 'Polar orbit'
WARNING:root:⚠️ no coordinates found for: 'Nauchnyi, Crimea'
WARNING:root:⚠️ no coordinates found for: '500\xa0kmLEO'
WARNING:root:⚠️ no coordinates found for: 'Mount Entoto, Ethiopia'
WARNING:root:⚠️ no coordinates found for: 'Earth–SunL2Lagrangian point'
WARNING:root:⚠️ no coordinates found for: 'Southern Operations Center:La Serena, Chile; Northern Operations Center:Hilo, Hawaii, US'
WARNING:root:⚠️ no coordinates found for: 'Elliptical Earth-centered orbit'
WARNING:root:⚠️ no coordinates found for: '550\xa0kmLEO'
WARNING:root:⚠️ no coordinates found for: 'Earth–Sun L2 point'
WARNING:root:⚠️ no coordinates found for: 'Earth orbit'
WARNING:root:⚠️ no coordinates found for: 'Mount Gargash, Iran'
WARNING:root:⚠️ no coordinates found for: 'Earth-trailingheliocentric orbit'
WARNING:root:⚠️ no coordinates found for: 'Mount Kyllini, Greece'
WARNING:root:⚠️ no coordinates found for: '14\xa0km in thestratosphere'
WARNING:root:⚠️ no coordinates found for: 'Mount Lulin, Taiwan'
WARNING:root:⚠️ no coordinates found for: 'Luoxue Mountain,YunnanProvince, China'
WARNING:root:⚠️ no coordinates found for: 'Headquarters:Toulouse, FrancePyrenees, FranceToulouse, France'
WARNING:root:⚠️ no coordinates found for: 'Gorce Mountains, Poland'
WARNING:root:⚠️ no coordinates found for: 'Headquarters:Mitaka, Tokyo, Japan'
WARNING:root:⚠️ no coordinates found for: 'Jyväskylän maalaiskunta, Western Finland Province, Finland'
WARNING:root:⚠️ no coordinates found for: 'Pian dei Termini(nearSan Marcello Pistoiese), Italy'
WARNING:root:⚠️ no coordinates found for: 'Piwnicenear Toruń, Poland'
WARNING:root:⚠️ no coordinates found for: 'Pulkovskiye Heights, Russia'
WARNING:root:⚠️ no coordinates found for: 'Earth-Moon L2'
WARNING:root:⚠️ no coordinates found for: 'Lunar orbit'
WARNING:root:⚠️ no coordinates found for: 'PeakRozhen, Bulgaria'
WARNING:root:⚠️ no coordinates found for: 'Low Earth orbit; re-entered in 1979'
WARNING:root:⚠️ no coordinates found for: '709\xa0kmSSO; life: 3 years'
WARNING:root:⚠️ no coordinates found for: 'Sun-synchronousEarth orbit'
WARNING:root:⚠️ no coordinates found for: 'Heliocentric orbit'
WARNING:root:⚠️ no coordinates found for: '14\xa0km in Earthstratosphere'
WARNING:root:⚠️ no coordinates found for: 'Headquarters:Castel Gandolfo, ItalyMount Graham, Arizona, US'
WARNING:root:⚠️ no coordinates found for: 'Various locations on Earth'
WARNING:root:⚠️ no coordinates found for: 'YangbajingValley,Tibet, China'

In [49]:
observatories_location['type']=['earth' if observatories_location.geolocation[i]!='(None, None)' else pd.NA for i in range(len(observatories_location))]

In [51]:
observatories_location.to_csv("../data/observatories_location_geocoded.csv", index=False)

In [52]:
len(observatories_location.geolocation.unique())

561

In [53]:
observatories_location[observatories_location.geolocation=="(None, None)"]

                                              Location   geolocation  type
3                                         Sun-Earth L1  (None, None)  <NA>
17           In theMediterranean SeanearToulon, France  (None, None)  <NA>
31                        Highly eccentric Earth orbit  (None, None)  <NA>
37              Llano de Chajnantor Observatory, Chile  (None, None)  <NA>
56                                     Low Earth orbit  (None, None)  <NA>
99                                   Earth–SunL1 point  (None, None)  <NA>
110                        Highly eccentricEarth orbit  (None, None)  <NA>
128                                        Polar orbit  (None, None)  <NA>
133                                   Nauchnyi, Crimea  (None, None)  <NA>
142                                          500 kmLEO  (None, None)  <NA>
157                             Mount Entoto, Ethiopia  (None, None)  <NA>
159                        Earth–SunL2Lagrangian point  (None, None)  <NA>
181  Southern Operations Center:La Serena, Chile; N...  (None, None)  <NA>
198                    Elliptical Earth-centered orbit  (None, None)  <NA>
203                                          550 kmLEO  (None, None)  <NA>
212                                 Earth–Sun L2 point  (None, None)  <NA>
234                                        Earth orbit  (None, None)  <NA>
238                                Mount Gargash, Iran  (None, None)  <NA>
263                   Earth-trailingheliocentric orbit  (None, None)  <NA>
275                              Mount Kyllini, Greece  (None, None)  <NA>
277                           14 km in thestratosphere  (None, None)  <NA>
308                                Mount Lulin, Taiwan  (None, None)  <NA>
310              Luoxue Mountain,YunnanProvince, China  (None, None)  <NA>
343  Headquarters:Toulouse, FrancePyrenees, FranceT...  (None, None)  <NA>
369                            Gorce Mountains, Poland  (None, None)  <NA>
379                  Headquarters:Mitaka, Tokyo, Japan  (None, None)  <NA>
399  Jyväskylän maalaiskunta, Western Finland Provi...  (None, None)  <NA>
440  Pian dei Termini(nearSan Marcello Pistoiese), ...  (None, None)  <NA>
441                          Piwnicenear Toruń, Poland  (None, None)  <NA>
449                        Pulkovskiye Heights, Russia  (None, None)  <NA>
450                                      Earth-Moon L2  (None, None)  <NA>
451                                        Lunar orbit  (None, None)  <NA>
475                               PeakRozhen, Bulgaria  (None, None)  <NA>
495                Low Earth orbit; re-entered in 1979  (None, None)  <NA>
500                           709 kmSSO; life: 3 years  (None, None)  <NA>
509                         Sun-synchronousEarth orbit  (None, None)  <NA>
510                                 Heliocentric orbit  (None, None)  <NA>
526                         14 km in Earthstratosphere  (None, None)  <NA>
572  Headquarters:Castel Gandolfo, ItalyMount Graha...  (None, None)  <NA>
577                         Various locations on Earth  (None, None)  <NA>
606                      YangbajingValley,Tibet, China  (None, None)  <NA>

In [54]:
observatories_df=pd.read_csv("../data/astronomical_observatories_with_links.csv")
observatories_location=pd.read_csv("../data/observatories_location_geocoded.csv")
observatories_df = observatories_df.merge(observatories_location, on='Location', how='left')

In [ ]:
observatories_df['type']=['space' if (observatories_df.geolocation[i]=="(None, None)") & ('Earth orbit' in observatories_df.Location[i]) else observatories_df.type[i] for i in range(len(observatories_df))]

AttributeError: 'str' object has no attribute 'contains'

In [58]:
observatories_df

,Name,Link,Established,Location,geolocation,type
0,Abastumani Astrophysical Observatory,https://en.wikipedia.org/wiki/Georgian_Nationa...,1932,"Abastumani, Georgia","(41.7535704, 42.8319346)",earth
1,Abu Reyhan-e Birooni Observatory,https://en.wikipedia.org/w/index.php?title=Abu...,1976,"Shiraz University,Shiraz, Iran","(29.6494974, 52.5122319)",earth
2,Adirondack Public Observatory,https://en.wikipedia.org/w/index.php?title=Adi...,NaN,"Tupper Lake, New York, US","(44.224044, -74.464302)",earth
3,Aditya-L1,https://en.wikipedia.org/wiki/Aditya-L1,2023,Sun-Earth L1,"(None, None)",NaN
4,Adolphson Observatory,https://en.wikipedia.org/wiki/Adolphson_Observ...,2013,"Monmouth, Illinois, US","(40.9127103, -90.6472477)",earth
...,...,...,...,...,...,...
711,York University Observatory,https://en.wikipedia.org/wiki/York_University_...,1969,"Toronto,Ontario, Canada","(43.6534817, -79.3839347)",earth
712,Yuba City Astronomical Observatory,https://en.wikipedia.org/wiki/Yuba_City_Astron...,2010,"Yuba City, California, US","(39.1404477, -121.6169108)",earth
713,Yunnan Astronomical Observatory,https://en.wikipedia.org/wiki/Yunnan_Astronomi...,1957,"Kunming,Yunnan, China","(25.0363006, 102.7086139)",earth
714,Zimmerwald Observatory,https://en.wikipedia.org/wiki/Zimmerwald_Obser...,1956,"Zimmerwald, Switzerland","(46.8804779, 7.4704391)",earth
715,Zadko Observatory,https://en.wikipedia.org/wiki/Zadko_Observatory,2009,"Gingin, Australia","(-31.3441233, 115.9076557)",earth

In [28]:
observatories_df[(observatories_df.geolocation==(None,None)) & (observatories_df.Location.str.contains('Earth orbit'))]

Empty DataFrame
Columns: [Name, Link, Established, Location, geolocation]
Index: []

In [29]:
observatories_df[(observatories_df.geolocation==(None,None)) & (~observatories_df.Location.str.contains('Earth orbit'))]

Empty DataFrame
Columns: [Name, Link, Established, Location, geolocation]
Index: []