# Exoplanets data retrieval test

### Nasa API data extraction

In [ ]:
import requests
import pandas as pd
from io import StringIO
from urllib.parse import quote_plus

In [8]:
# Function to download and save data from the NASA Exoplanet Archive
def fetch_exoplanet_tap(sql, fmt="csv", save_path=None):
    """
    Downloads data from the NASA Exoplanet Archive via TAP, loads it into a DataFrame,
    and (optionally) saves the CSV file.

    Parameters:
        sql (str): SQL query to execute.
        fmt (str): Output format (default: "csv").
        save_path (str): File path to save the CSV (optional).

    Returns:
        pd.DataFrame: The imported data.
    """
    url = f"https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query={quote_plus(sql)}&format={fmt}"
    print(f"Fetching data from: {url}")

    r = requests.get(url, timeout=60)
    r.raise_for_status()

    if save_path:
        with open(save_path, "w", encoding="utf-8") as f:
            f.write(r.text)
        print(f"✅ File saved as: {save_path}")

    df = pd.read_csv(StringIO(r.text))
    return df

In [12]:
try:
    sql = "select pl_name,hostname,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_facility,disc_instrument,pl_orbper,pl_rade,pl_radj,pl_masse,pl_massj,pl_dens,st_rad,st_mass,sy_dist from ps"
    df = fetch_exoplanet_tap(sql, save_path="exoplanet_data.csv")
    display(df.head())
except Exception as e:
    print("TAP failed:", e)

Fetching data from: https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+pl_name%2Chostname%2Csy_snum%2Csy_pnum%2Csy_mnum%2Cdiscoverymethod%2Cdisc_year%2Cdisc_facility%2Cdisc_instrument%2Cpl_orbper%2Cpl_rade%2Cpl_radj%2Cpl_masse%2Cpl_massj%2Cpl_dens%2Cst_rad%2Cst_mass%2Csy_dist+from+ps&format=csv
✅ File saved as: exoplanet_data.csv

,pl_name,hostname,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_facility,disc_instrument,pl_orbper,pl_rade,pl_radj,pl_masse,pl_massj,pl_dens,st_rad,st_mass,sy_dist
0,HD 73267 b,HD 73267,1,2,0,Radial Velocity,2008,La Silla Observatory,HARPS Spectrograph,1257.200000,NaN,NaN,1462.010672,4.6,NaN,NaN,0.890,50.4093
1,Kepler-1874 b,Kepler-1874,1,1,0,Transit,2021,Kepler,Kepler CCD Array,56.573232,2.69,0.239986,NaN,NaN,NaN,0.77500,0.758,408.0070
2,Kepler-1219 b,Kepler-1219,1,1,0,Transit,2016,Kepler,Kepler CCD Array,16.104745,NaN,NaN,NaN,NaN,NaN,2.87486,1.040,880.8950
3,Kepler-1504 b,Kepler-1504,1,1,0,Transit,2016,Kepler,Kepler CCD Array,82.304003,2.27,0.202516,NaN,NaN,NaN,0.84800,0.888,2435.9400
4,Kepler-1514 b,Kepler-1514,1,2,0,Transit,2016,Kepler,Kepler CCD Array,217.831763,22.02,1.964496,NaN,NaN,NaN,2.27400,1.093,397.2920