# Exoplanets data retrieval test

### Nasa API data extraction

In [2]:
import requests
import pandas as pd
from io import StringIO
from urllib.parse import quote_plus

In [15]:
# Function to download and save data from the NASA Exoplanet Archive
def fetch_exoplanet_tap(sql, fmt="csv", save_path=None):
    """
    Downloads data from the NASA Exoplanet Archive via TAP, loads it into a DataFrame,
    and (optionally) saves the CSV file.

    Parameters:
        sql (str): SQL query to execute.
        fmt (str): Output format (default: "csv").
        save_path (str): File path to save the CSV (optional).

    Returns:
        pd.DataFrame: The imported data.
    """
    url = f"https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query={quote_plus(sql)}&format={fmt}"
    print(f"Fetching data from: {url}")

    r = requests.get(url, timeout=60)
    r.raise_for_status()

    if save_path:
        with open(save_path, "w", encoding="utf-8") as f:
            f.write(r.text)
        print(f"✅ File saved as: {save_path}")

    df = pd.read_csv(StringIO(r.text))
    return df

In [16]:
try:
    sql = "select pl_name,hostname,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_facility,disc_instrument,pl_orbper,pl_rade,pl_radj,pl_masse,pl_massj,pl_dens,st_rad,st_mass,sy_dist,releasedate from ps"
    df = fetch_exoplanet_tap(sql, save_path="exoplanet_data.csv")
    display(df.head())
except Exception as e:
    print("TAP failed:", e)

Fetching data from: https://exoplanetarchive.ipac.caltech.edu/TAP/sync?query=select+pl_name%2Chostname%2Csy_snum%2Csy_pnum%2Csy_mnum%2Cdiscoverymethod%2Cdisc_year%2Cdisc_facility%2Cdisc_instrument%2Cpl_orbper%2Cpl_rade%2Cpl_radj%2Cpl_masse%2Cpl_massj%2Cpl_dens%2Cst_rad%2Cst_mass%2Csy_dist%2Creleasedate+from+ps&format=csv
✅ File saved as: exoplanet_data.csv

,pl_name,hostname,sy_snum,sy_pnum,sy_mnum,discoverymethod,disc_year,disc_facility,disc_instrument,pl_orbper,pl_rade,pl_radj,pl_masse,pl_massj,pl_dens,st_rad,st_mass,sy_dist,releasedate
0,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234699,13.410000,1.196362,NaN,NaN,NaN,1.29100,1.047,587.039,2015-08-25
1,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234694,13.316002,1.187976,NaN,NaN,NaN,1.31474,NaN,587.039,2024-09-16
2,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234723,14.830000,1.323000,212.61900,0.669,0.352,1.39100,1.209,587.039,2014-05-14
3,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234699,13.103321,1.169000,205.63601,0.647,0.490,1.26100,1.114,587.039,2019-03-21
4,Kepler-6 b,Kepler-6,1,1,0,Transit,2009,Kepler,Kepler CCD Array,3.234699,NaN,NaN,NaN,NaN,NaN,1.31474,0.990,587.039,2016-07-28

In [26]:
exoplanets=pd.read_csv("G:\My Drive\Github projects\exoplanets_dashboard\data\exoplanets_data.csv")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\kiara\AppData\Local\Temp\ipykernel_21164\9398412.py:1: SyntaxWarning: invalid escape sequence '\M'
  exoplanets=pd.read_csv("G:\My Drive\Github projects\exoplanets_dashboard\data\exoplanets_data.csv")

In [27]:
len(exoplanets.pl_name.unique())

6042

In [31]:
unique_exo=exoplanets.sort_values(['pl_name', 'releasedate'], ascending=[True, False]).drop_duplicates(subset='pl_name', keep='first')

In [36]:
pd.to_datetime(unique_exo.releasedate.max()).strftime('%d %B %Y')

'30 October 2025'

In [40]:
unique_exo['disc_year'].value_counts().sort_index().reset_index().rename(columns={'disc_year': 'Year', 'count': 'Number of Discoveries'})

    Year  Number of Discoveries
0   1992                      2
1   1994                      1
2   1995                      1
3   1996                      6
4   1997                      1
5   1998                      6
6   1999                     13
7   2000                     16
8   2001                     12
9   2002                     29
10  2003                     22
11  2004                     27
12  2005                     36
13  2006                     32
14  2007                     52
15  2008                     63
16  2009                     94
17  2010                     98
18  2011                    134
19  2012                    139
20  2013                    128
21  2014                    869
22  2015                    155
23  2016                   1496
24  2017                    152
25  2018                    314
26  2019                    197
27  2020                    234
28  2021                    554
29  2022                    369
30  2023                    326
31  2024                    260
32  2025                    204