# Observatories geolocation

In [3]:
import pandas as pd

## Scrape list of astronomical observatories from Wikipedia

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_astronomical_observatories"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

response = requests.get(url, headers=headers)
response.raise_for_status()

soup = BeautifulSoup(response.text, 'html.parser')

# Find the correct table by matching the headers
table = None
for tbl in soup.find_all('table', {'class':'wikitable'}):
    headers = [th.get_text(strip=True) for th in tbl.find_all('th')]
    if headers[:3] == ['Name', 'Established', 'Location']:
        table = tbl
        break

# Parse rows
rows = []
for tr in table.find_all('tr')[1:]:
    tds = tr.find_all('td')
    if len(tds) >= 3:
        name_td = tds[0]
        name_link = None
        a_tag = name_td.find('a', href=True)
        if a_tag:
            name_link = 'https://en.wikipedia.org' + a_tag['href']
        name_text = name_td.get_text(strip=True)
        established = tds[1].get_text(strip=True)
        location = tds[2].get_text(strip=True)
        rows.append({
            'Name': name_text,
            'Link': name_link,
            'Established': established,
            'Location': location
        })

observatories_df = pd.DataFrame(rows)

observatories_df.to_csv("../data/astronomical_observatories_with_links.csv", index=False)

## Geolocation

### Add coordinates using geopy Nominatim and Openstreetmap

In [ ]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
import logging

logging.basicConfig(level=logging.INFO)

geolocator = Nominatim(
    user_agent="your-app-name/1.0 (chiara.torri@yahoo.com)",  # required by policy
    timeout=5
)

# Respect rate limits (e.g. 1 request per second)
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

def get_location(city_name: str):
    # First, try the full string
    try:
        location = geocode(city_name)
        if location:
            return (location.latitude, location.longitude)
    except Exception as e:
        logging.warning("Error geocoding %r (full): %s", city_name, e)

    # Fallback: first two comma-separated parts (as string)
    parts = [p.strip() for p in city_name.split(",") if p.strip()]
    if len(parts) >= 2:
        try:
            q = ", ".join(parts[:2])
            location = geocode(q)
            if location:
                return (location.latitude, location.longitude)
        except Exception as e:
            logging.warning("Error geocoding %r (first two parts): %s", city_name, e)

    # Fallback: just the first part (often city)
    if parts:
        try:
            q = parts[0]
            location = geocode(q)
            if location:
                return (location.latitude, location.longitude)
        except Exception as e:
            logging.warning("Error geocoding %r (first part): %s", city_name, e)

    logging.warning("⚠️ no coordinates found for: %r", city_name)
    return (None, None)

In [ ]:
observatories_location=pd.DataFrame({'Location': list(observatories_df['Location'].unique())})
observatories_location['geolocation'] = observatories_location['Location'].apply(get_location)

WARNING:root:⚠️ no coordinates found for: 'Sun-Earth L1'
WARNING:root:⚠️ no coordinates found for: 'In theMediterranean SeanearToulon, France'
WARNING:root:⚠️ no coordinates found for: 'Highly eccentric Earth orbit'
WARNING:root:⚠️ no coordinates found for: 'Llano de Chajnantor Observatory, Chile'
WARNING:root:⚠️ no coordinates found for: 'Low Earth orbit'
WARNING:root:⚠️ no coordinates found for: 'Earth–SunL1 point'
WARNING:root:⚠️ no coordinates found for: 'Highly eccentricEarth orbit'
WARNING:root:⚠️ no coordinates found for: 'Polar orbit'
WARNING:root:⚠️ no coordinates found for: 'Nauchnyi, Crimea'
WARNING:root:⚠️ no coordinates found for: '500\xa0kmLEO'
WARNING:root:⚠️ no coordinates found for: 'Mount Entoto, Ethiopia'
WARNING:root:⚠️ no coordinates found for: 'Earth–SunL2Lagrangian point'
WARNING:root:⚠️ no coordinates found for: 'Southern Operations Center:La Serena, Chile; Northern Operations Center:Hilo, Hawaii, US'
WARNING:root:⚠️ no coordinates found for: 'Elliptical Earth-centered orbit'
WARNING:root:⚠️ no coordinates found for: '550\xa0kmLEO'
WARNING:root:⚠️ no coordinates found for: 'Earth–Sun L2 point'
WARNING:root:⚠️ no coordinates found for: 'Earth orbit'
WARNING:root:⚠️ no coordinates found for: 'Mount Gargash, Iran'
WARNING:root:⚠️ no coordinates found for: 'Earth-trailingheliocentric orbit'
WARNING:root:⚠️ no coordinates found for: 'Mount Kyllini, Greece'
WARNING:root:⚠️ no coordinates found for: '14\xa0km in thestratosphere'
WARNING:root:⚠️ no coordinates found for: 'Mount Lulin, Taiwan'
WARNING:root:⚠️ no coordinates found for: 'Luoxue Mountain,YunnanProvince, China'
WARNING:root:⚠️ no coordinates found for: 'Headquarters:Toulouse, FrancePyrenees, FranceToulouse, France'
WARNING:root:⚠️ no coordinates found for: 'Gorce Mountains, Poland'
WARNING:root:⚠️ no coordinates found for: 'Headquarters:Mitaka, Tokyo, Japan'
WARNING:root:⚠️ no coordinates found for: 'Jyväskylän maalaiskunta, Western Finland Province, Finland'
WARNING:root:⚠️ no coordinates found for: 'Pian dei Termini(nearSan Marcello Pistoiese), Italy'
WARNING:root:⚠️ no coordinates found for: 'Piwnicenear Toruń, Poland'
WARNING:root:⚠️ no coordinates found for: 'Pulkovskiye Heights, Russia'
WARNING:root:⚠️ no coordinates found for: 'Earth-Moon L2'
WARNING:root:⚠️ no coordinates found for: 'Lunar orbit'
WARNING:root:⚠️ no coordinates found for: 'PeakRozhen, Bulgaria'
WARNING:root:⚠️ no coordinates found for: 'Low Earth orbit; re-entered in 1979'
WARNING:root:⚠️ no coordinates found for: '709\xa0kmSSO; life: 3 years'
WARNING:root:⚠️ no coordinates found for: 'Sun-synchronousEarth orbit'
WARNING:root:⚠️ no coordinates found for: 'Heliocentric orbit'
WARNING:root:⚠️ no coordinates found for: '14\xa0km in Earthstratosphere'
WARNING:root:⚠️ no coordinates found for: 'Headquarters:Castel Gandolfo, ItalyMount Graham, Arizona, US'
WARNING:root:⚠️ no coordinates found for: 'Various locations on Earth'
WARNING:root:⚠️ no coordinates found for: 'YangbajingValley,Tibet, China'

In [ ]:
observatories_location['type']=['earth' if observatories_location.geolocation[i]!='(None, None)' else pd.NA for i in range(len(observatories_location))]
observatories_location.to_csv("../data/observatories_location_geocoded.csv", index=False)

### Add missing locations

In [4]:
observatories_df=pd.read_csv("../data/astronomical_observatories_with_links.csv")
observatories_location=pd.read_csv("../data/observatories_location_geocoded.csv")
observatories_df = observatories_df.merge(observatories_location, on='Location', how='left')

In [ ]:
observatories_df['type']=['space' if (observatories_df.geolocation[i]=="(None, None)") & ('orbit' in observatories_df.Location[i]) else observatories_df.type[i] for i in range(len(observatories_df))]
observatories_df['type']=['space' if (observatories_df.geolocation[i]=="(None, None)") & ('Sun' in observatories_df.Location[i]) else observatories_df.type[i] for i in range(len(observatories_df))]

In [ ]:
observatories_df[(observatories_df.geolocation=="(None, None)") & (observatories_df.type.isna())].to_excel('../data/observatories_no_location_type.xlsx', index=False)

In [ ]:
filter_missing=((observatories_df.geolocation=="(None, None)") & (observatories_df.type.isna()))
observatories_df=observatories_df[~filter_missing]
observatories_df['note']=pd.NA

In [ ]:
observatories_no_location_type=pd.read_excel('../data/observatories_no_location_type.xlsx')

observatories_df_final=pd.concat([observatories_df, observatories_no_location_type], ignore_index=True)
observatories_df_final.to_csv("../data/astronomical_observatories_final.csv", index=False)

## Merge with exoplanet data

In [30]:
exoplanets=pd.read_csv("../data/exoplanets_data.csv")
unique_exo = exoplanets.sort_values(['pl_name', 'releasedate'], ascending=[True, False]).drop_duplicates(subset='pl_name', keep='first')

In [31]:
count_by_observatory=pd.DataFrame(unique_exo.groupby('disc_facility')['pl_name'].count()).reset_index()

In [32]:
count_by_observatory

                            disc_facility  pl_name
0            Acton Sky Portal Observatory        2
1              Anglo-Australian Telescope       35
2                Apache Point Observatory        2
3                     Arecibo Observatory        3
4   Atacama Large Millimeter Array (ALMA)        1
..                                    ...      ...
67                      Winer Observatory        1
68                                     XO        6
69                       Xinglong Station        2
70        Yunnan Astronomical Observatory        3
71              Zwicky Transient Facility        2

[72 rows x 2 columns]

In [68]:
observatories_df_final=pd.read_csv("../data/astronomical_observatories_final.csv")

In [70]:
observatories_df_final.fillna('Unknown', inplace=True)

C:\Users\kiara\AppData\Local\Temp\ipykernel_27208\1540478123.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  observatories_df_final.fillna('Unknown', inplace=True)

In [35]:
count_by_observatory_with_location=pd.merge(count_by_observatory, observatories_df_final, left_on='disc_facility', right_on='Name', how='left')

In [36]:
missing_location=count_by_observatory_with_location[count_by_observatory_with_location.geolocation.isna()]

In [ ]:
# missing_location.to_excel('../data/observatories_missing_location_in_exoplanet_data.xlsx', index=False)

In [14]:
len(missing_location)

46

In [15]:
len(count_by_observatory_with_location)

72

In [16]:
len(count_by_observatory_with_location[~count_by_observatory_with_location.geolocation.isna()])

26

In [37]:
count_by_observatory_with_location_full=count_by_observatory_with_location[~count_by_observatory_with_location.geolocation.isna()]

In [55]:
missing_location=pd.read_excel('../data/observatories_missing_location_in_exoplanet_data.xlsx')

In [56]:
observatories_exo_geolocated=pd.concat([count_by_observatory_with_location_full, missing_location], ignore_index=True)

In [57]:
observatories_exo_geolocated.to_csv("../data/observatories_exoplanets_geolocated.csv", index=False)

In [72]:
df=pd.read_csv('../data/observatories_exoplanets_geolocated.csv')

In [73]:
df['geolocation']

0       (32.7892103, -105.81857)
1      (18.4047499, -66.6810353)
2       (36.8414197, -2.4628135)
3     (-24.5563029, -69.4226479)
4      (31.6890556, -110.884703)
                 ...
71           (-32.3783, 20.8105)
72                           NaN
73          (19.8256, -155.4761)
74     (40.4659616, 117.7921122)
75        (33.35731, -116.85981)
Name: geolocation, Length: 76, dtype: object

In [74]:
df.fillna('Unknown', inplace=True)

In [76]:
df

,disc_facility,pl_name,Name,Link,Established,Location,geolocation,type,note
0,Apache Point Observatory,2,Apache Point Observatory,https://en.wikipedia.org/wiki/Apache_Point_Obs...,1985,"Sunspot, New Mexico, US","(32.7892103, -105.81857)",earth,Unknown
1,Arecibo Observatory,3,Arecibo Observatory,https://en.wikipedia.org/wiki/Arecibo_Observatory,1963,"Arecibo, Puerto Rico, US","(18.4047499, -66.6810353)",earth,Unknown
2,Calar Alto Observatory,29,Calar Alto Observatory,https://en.wikipedia.org/wiki/Calar_Alto_Obser...,1975,"Almería, Spain","(36.8414197, -2.4628135)",earth,Unknown
3,Cerro Tololo Inter-American Observatory,5,Cerro Tololo Inter-American Observatory,https://en.wikipedia.org/wiki/Cerro_Tololo_Int...,1962,"Atacama Desert, Chile","(-24.5563029, -69.4226479)",earth,Unknown
4,Fred Lawrence Whipple Observatory,6,Fred Lawrence Whipple Observatory,https://en.wikipedia.org/wiki/Fred_Lawrence_Wh...,1968,"Mount Hopkins, Arizona, US","(31.6890556, -110.884703)",earth,Unknown
6,Haleakala Observatory,2,Haleakala Observatory,https://en.wikipedia.org/wiki/Haleakala_Observ...,Unknown,"Maui, Hawaii, US","(20.8029568, -156.3106833)",earth,Unknown
7,Haute-Provence Observatory,69,Haute-Provence Observatory,https://en.wikipedia.org/wiki/Haute-Provence_O...,1937,"Alpes-de-Haute-Provence, France","(44.1640832, 6.1878515)",earth,Unknown
9,Kitt Peak National Observatory,1,Kitt Peak National Observatory,https://en.wikipedia.org/wiki/Kitt_Peak_Nation...,1958,"Tucson, Arizona, US","(32.2228765, -110.974847)",earth,Unknown
10,La Silla Observatory,303,La Silla Observatory,https://en.wikipedia.org/wiki/La_Silla_Observa...,1969,"Atacama Desert, Chile","(-24.5563029, -69.4226479)",earth,Unknown
11,Large Binocular Telescope Observatory,3,Large Binocular Telescope Observatory,https://en.wikipedia.org/wiki/Large_Binocular_...,2005,"Mount Graham, Arizona, US","(32.7016419, -109.8713876)",earth,Unknown
12,Las Campanas Observatory,29,Las Campanas Observatory,https://en.wikipedia.org/wiki/Las_Campanas_Obs...,Unknown,"La Serena, Chile","(-29.9027219, -71.2519545)",earth,Unknown
13,Leoncito Astronomical Complex,1,Leoncito Astronomical Complex,https://en.wikipedia.org/wiki/Leoncito_Astrono...,1986,"Calingasta,San Juan, Argentina","(-31.4476967, -69.8827275)",earth,Unknown
14,Lick Observatory,36,Lick Observatory,https://en.wikipedia.org/wiki/Lick_Observatory,1881,"Mount Hamilton,San Jose, California, US","(37.3523304, -121.8626646)",earth,Unknown
15,Mauna Kea Observatory,6,Mauna Kea Observatory,https://en.wikipedia.org/wiki/Mauna_Kea_Observ...,1967,"Mauna Kea,Hawaii, US","(19.8206673, -155.468071)",earth,Unknown
16,McDonald Observatory,33,McDonald Observatory,https://en.wikipedia.org/wiki/McDonald_Observa...,Unknown,"Davis Mountains,Texas, US","(30.6064925, -103.9293648)",earth,Unknown
17,Palomar Observatory,2,Palomar Observatory,https://en.wikipedia.org/wiki/Palomar_Observatory,1948,"Palomar Mountain,California, US","(33.3228128, -116.8786359)",earth,Unknown
18,Paranal Observatory,38,Paranal Observatory,https://en.wikipedia.org/wiki/Paranal_Observatory,1999,"Cerro Paranal,Atacama Desert, Chile","(-24.6280555, -70.4045723)",earth,Unknown
19,Parkes Observatory,2,Parkes Observatory,https://en.wikipedia.org/wiki/Parkes_Observatory,1961,"Parkes, Australia","(-32.8225409, 147.9761363)",earth,Unknown
20,Roque de los Muchachos Observatory,38,Roque de los Muchachos Observatory,https://en.wikipedia.org/wiki/Roque_de_los_Muc...,1979 (officially inaugurated in 1985),"La Palma,Canary Islands, Spain.","(28.6551163, -17.8572686)",earth,Unknown
22,Teide Observatory,1,Teide Observatory,https://en.wikipedia.org/wiki/Teide_Observatory,1964,"Tenerife,Canary Islands, Spain","(28.2935785, -16.6214471)",earth,Unknown
24,Winer Observatory,1,Winer Observatory,https://en.wikipedia.org/wiki/Winer_Observatory,1983,"Sonoita, Arizona, US","(31.6723455, -110.6619555)",earth,Unknown
25,Yunnan Astronomical Observatory,3,Yunnan Astronomical Observatory,https://en.wikipedia.org/wiki/Yunnan_Astronomi...,1957,"Kunming,Yunnan, China","(25.0363006, 102.7086139)",earth,Unknown
26,Acton Sky Portal Observatory,2,Unknown,https://en.wikipedia.org/wiki/European_Souther...,Unknown,"Acton, MA, USA","(42.485, -71.433333)",earth,Unknown
27,Anglo-Australian Telescope,35,Unknown,https://en.wikipedia.org/wiki/Anglo-Australian...,1974.0,"New South Wales, AUS","(-31.2754, 149.067)",earth,Unknown
28,Atacama Large Millimeter Array (ALMA),1,Unknown,https://en.wikipedia.org/wiki/Atacama_Large_Mi...,2011.0,"Antofagasta Region, Chile","(-23.0193, -67.7532)",earth,Unknown
29,Bohyunsan Optical Astronomical Observatory,26,Unknown,https://en.wikipedia.org/wiki/Bohyunsan_Optica...,1996.0,"Youngchun, South Korea","(43.740158, 125.3005774)",earth,Unknown
32,European Southern Observatory,3,Unknown,https://en.wikipedia.org/wiki/European_Souther...,1962.0,"Atacama Desert, Chile","(-24.5563029, -69.4226479)",earth,Unknown
34,HATNet,67,Unknown,https://en.wikipedia.org/wiki/HATNet_Project,2001.0,"Budapest, Hungary","(47.4997, 18.96389)",earth,Unknown
35,HATSouth,73,Unknown,https://en.wikipedia.org/wiki/HATNet_Project,2009.0,Australia,"(-25, 133)",earth,"HATSouth has telescopes in Australia, Namibia ..."
36,HATSouth,73,Unknown,https://en.wikipedia.org/wiki/HATNet_Project,2009.0,Namibia,"(-22, 17)",earth,"HATSouth has telescopes in Australia, Namibia ..."
37,HATSouth,73,Unknown,https://en.wikipedia.org/wiki/HATNet_Project,2009.0,Chile,"(-34, -71)",earth,"HATSouth has telescopes in Australia, Namibia ..."
38,Infrared Survey Facility,1,Unknown,https://en.wikipedia.org/wiki/South_African_As...,2000.0,"Sutherland, Northern Cape, South Africa","(-32.3783, 20.8105)",earth,Unknown
41,KELT,10,Unknown,https://en.wikipedia.org/wiki/Kilodegree_Extre...,2005.0,"Arizona, US","(34.29, -111.66)",earth,Unknown
42,KELT-North,7,Unknown,https://en.wikipedia.org/wiki/Kilodegree_Extre...,2005.0,"Arizona, US","(31.665578, -110.601783)",earth,Unknown
43,KELT-South,4,Unknown,https://en.wikipedia.org/wiki/Kilodegree_Extre...,2009.0,"Sutherland, Northern Cape, South Africa","(-32.3783, 20.8105)",earth,Unknown
44,KMTNet,121,Unknown,https://en.wikipedia.org/wiki/KMTNet,2015.0,"Mt. Cerro Tololo, Coquimbo, Chile","(-30.169167, -70.806389)",earth,Unknown
47,Lowell Observatory,3,Unknown,https://en.wikipedia.org/wiki/Lowell_Observatory,1894.0,"Flagstaff, Arizona, US","(35.1987522, -111.651822)",earth,Unknown
48,MEarth Project,2,Unknown,https://en.wikipedia.org/wiki/MEarth_Project,2008.0,"Mount Hopkins, Arizona, US","(31.6890556, -110.884703)",earth,Unknown
49,MOA,33,Unknown,https://en.wikipedia.org/wiki/Microlensing_Obs...,2004.0,"Lake Tekapo,South Island, New Zealand","(-44.0045194, 170.4777273)",earth,Unknown
52,NASA Infrared Telescope Facility (IRTF),1,Unknown,https://en.wikipedia.org/wiki/NASA_Infrared_Te...,1977.0,"Hawaiʻi County, Hawaii","(19.8263, -155.473)",earth,Unknown
53,Next-Generation Transit Survey (NGTS),22,Unknown,https://en.wikipedia.org/wiki/Next-Generation_...,2015.0,"Atacama, Chile","(-24.615833, -70.391111)",earth,Unknown
54,OGLE,110,Unknown,https://en.wikipedia.org/wiki/Optical_Gravitat...,1992.0,"Las Campanas Observatory, Chile","(-29.01, -70.699)",earth,Unknown
55,Okayama Astrophysical Observatory,36,Unknown,https://en.wikipedia.org/wiki/National_Astrono...,1988.0,"Asakuchi, Okayama","(34.576073, 133.594115)",earth,Unknown
57,SPECULOOS Southern Observatory,2,Unknown,https://en.wikipedia.org/wiki/SPECULOOS,2017.0,"Atacama, Chile","(-24.615833, -70.391111)",earth,Unknown
58,South African Radio Astronomy Observatory (SARAO),1,Unknown,https://en.wikipedia.org/wiki/Hartebeesthoek_R...,1975.0,"Gauteng, Transvaal, South Africa","(-25.89037, 27.68558)",earth,Unknown
59,Subaru Telescope,11,Unknown,https://en.wikipedia.org/wiki/Subaru_Telescope,1998.0,"Hawaii, US","(19.8256, -155.4761)",earth,Unknown
60,SuperWASP,122,Unknown,https://en.wikipedia.org/wiki/Wide_Angle_Searc...,2006.0,"La Palma, Canary Islands, Spain","(28.7602, -17.8793)",earth,Unknown
61,SuperWASP-North,5,Unknown,https://en.wikipedia.org/wiki/Wide_Angle_Searc...,2006.0,"La Palma, Canary Islands, Spain","(28.7602, -17.8793)",earth,Unknown
62,SuperWASP-South,32,Unknown,https://en.wikipedia.org/wiki/Wide_Angle_Searc...,2006.0,"Sutherland, Northern Cape, South Africa","(-32.3783, 20.8105)",earth,Unknown
63,Thueringer Landessternwarte Tautenburg,7,Unknown,https://en.wikipedia.org/wiki/Karl_Schwarzschi...,1960.0,"Jena, Germany","(50.9281717, 11.5879359)",earth,Unknown
64,TrES,5,Unknown,https://en.wikipedia.org/wiki/Trans-Atlantic_E...,2004.0,"Flagstaff, Arizona, US","(35.1987522, -111.651822)",earth,Unknown
65,TrES,5,Unknown,https://en.wikipedia.org/wiki/Trans-Atlantic_E...,2004.0,"Palomar Mountains, San Diego County, California","(33.3564, -116.865)",earth,TrES has telescopes in US and Spain. The displ...
66,TrES,5,Unknown,https://en.wikipedia.org/wiki/Trans-Atlantic_E...,2004.0,"Mount Teide, Canary Islands, Spain","(28.7602, -17.8793)",earth,TrES has telescopes in US and Spain. The displ...
68,United Kingdom Infrared Telescope,2,Unknown,https://en.wikipedia.org/wiki/United_Kingdom_I...,1979.0,"Hawaii, US","(19.8256, -155.4761)",earth,Unknown
69,University of Canterbury Mt John Observatory,1,Unknown,https://en.wikipedia.org/wiki/Mount_John_Unive...,1965.0,"Mackenzie Basin, South Island, New Zealand","(-43.986667, 170.465)",earth,Unknown
70,W. M. Keck Observatory,191,Unknown,https://en.wikipedia.org/wiki/Keck_Observatory,1993.0,"Mauna Kea,Hawaii, US","(19.8206673, -155.468071)",earth,Unknown
71,WASP-South,11,Unknown,https://en.wikipedia.org/wiki/Wide_Angle_Searc...,2006.0,"Sutherland, Northern Cape, South Africa","(-32.3783, 20.8105)",earth,Unknown
73,XO,6,Unknown,https://en.wikipedia.org/wiki/XO_Project,2006.0,"Hawaii, US","(19.8256, -155.4761)",earth,Unknown
74,Xinglong Station,2,Unknown,https://en.wikipedia.org/wiki/Xinglong_Station...,1968.0,"Xinglong County,Chengde,Hebeiprovince, China[12]","(40.4659616, 117.7921122)",earth,Unknown
75,Zwicky Transient Facility,2,Unknown,https://en.wikipedia.org/wiki/Zwicky_Transient...,2018.0,"San Diego County, California, US","(33.35731, -116.85981)",earth,Unknown

In [75]:
df=df[df['type']=='earth']

In [63]:
df['Latitude']=df['geolocation'].apply(lambda x: (x.strip("()").split(", ")[0]))
df['Longitude']=df['geolocation'].apply(lambda x: (x.strip("()").split(", ")[1]))

In [67]:
df.drop('Name', axis=1).rename(columns={'disc_facility':'Name', 
                                                                                                                    'pl_name':'N discovered planets',
                                                                                                                    'Established':'Year of Establishment'})

,Name,N discovered planets,Link,Year of Establishment,Location,geolocation,type,note,Latitude,Longitude
0,Apache Point Observatory,2,https://en.wikipedia.org/wiki/Apache_Point_Obs...,1985,"Sunspot, New Mexico, US","(32.7892103, -105.81857)",earth,NaN,32.7892103,-105.81857
1,Arecibo Observatory,3,https://en.wikipedia.org/wiki/Arecibo_Observatory,1963,"Arecibo, Puerto Rico, US","(18.4047499, -66.6810353)",earth,NaN,18.4047499,-66.6810353
2,Calar Alto Observatory,29,https://en.wikipedia.org/wiki/Calar_Alto_Obser...,1975,"Almería, Spain","(36.8414197, -2.4628135)",earth,NaN,36.8414197,-2.4628135
3,Cerro Tololo Inter-American Observatory,5,https://en.wikipedia.org/wiki/Cerro_Tololo_Int...,1962,"Atacama Desert, Chile","(-24.5563029, -69.4226479)",earth,NaN,-24.5563029,-69.4226479
4,Fred Lawrence Whipple Observatory,6,https://en.wikipedia.org/wiki/Fred_Lawrence_Wh...,1968,"Mount Hopkins, Arizona, US","(31.6890556, -110.884703)",earth,NaN,31.6890556,-110.884703
6,Haleakala Observatory,2,https://en.wikipedia.org/wiki/Haleakala_Observ...,NaN,"Maui, Hawaii, US","(20.8029568, -156.3106833)",earth,NaN,20.8029568,-156.3106833
7,Haute-Provence Observatory,69,https://en.wikipedia.org/wiki/Haute-Provence_O...,1937,"Alpes-de-Haute-Provence, France","(44.1640832, 6.1878515)",earth,NaN,44.1640832,6.1878515
9,Kitt Peak National Observatory,1,https://en.wikipedia.org/wiki/Kitt_Peak_Nation...,1958,"Tucson, Arizona, US","(32.2228765, -110.974847)",earth,NaN,32.2228765,-110.974847
10,La Silla Observatory,303,https://en.wikipedia.org/wiki/La_Silla_Observa...,1969,"Atacama Desert, Chile","(-24.5563029, -69.4226479)",earth,NaN,-24.5563029,-69.4226479
11,Large Binocular Telescope Observatory,3,https://en.wikipedia.org/wiki/Large_Binocular_...,2005,"Mount Graham, Arizona, US","(32.7016419, -109.8713876)",earth,NaN,32.7016419,-109.8713876
12,Las Campanas Observatory,29,https://en.wikipedia.org/wiki/Las_Campanas_Obs...,NaN,"La Serena, Chile","(-29.9027219, -71.2519545)",earth,NaN,-29.9027219,-71.2519545
13,Leoncito Astronomical Complex,1,https://en.wikipedia.org/wiki/Leoncito_Astrono...,1986,"Calingasta,San Juan, Argentina","(-31.4476967, -69.8827275)",earth,NaN,-31.4476967,-69.8827275
14,Lick Observatory,36,https://en.wikipedia.org/wiki/Lick_Observatory,1881,"Mount Hamilton,San Jose, California, US","(37.3523304, -121.8626646)",earth,NaN,37.3523304,-121.8626646
15,Mauna Kea Observatory,6,https://en.wikipedia.org/wiki/Mauna_Kea_Observ...,1967,"Mauna Kea,Hawaii, US","(19.8206673, -155.468071)",earth,NaN,19.8206673,-155.468071
16,McDonald Observatory,33,https://en.wikipedia.org/wiki/McDonald_Observa...,NaN,"Davis Mountains,Texas, US","(30.6064925, -103.9293648)",earth,NaN,30.6064925,-103.9293648
17,Palomar Observatory,2,https://en.wikipedia.org/wiki/Palomar_Observatory,1948,"Palomar Mountain,California, US","(33.3228128, -116.8786359)",earth,NaN,33.3228128,-116.8786359
18,Paranal Observatory,38,https://en.wikipedia.org/wiki/Paranal_Observatory,1999,"Cerro Paranal,Atacama Desert, Chile","(-24.6280555, -70.4045723)",earth,NaN,-24.6280555,-70.4045723
19,Parkes Observatory,2,https://en.wikipedia.org/wiki/Parkes_Observatory,1961,"Parkes, Australia","(-32.8225409, 147.9761363)",earth,NaN,-32.8225409,147.9761363
20,Roque de los Muchachos Observatory,38,https://en.wikipedia.org/wiki/Roque_de_los_Muc...,1979 (officially inaugurated in 1985),"La Palma,Canary Islands, Spain.","(28.6551163, -17.8572686)",earth,NaN,28.6551163,-17.8572686
22,Teide Observatory,1,https://en.wikipedia.org/wiki/Teide_Observatory,1964,"Tenerife,Canary Islands, Spain","(28.2935785, -16.6214471)",earth,NaN,28.2935785,-16.6214471
24,Winer Observatory,1,https://en.wikipedia.org/wiki/Winer_Observatory,1983,"Sonoita, Arizona, US","(31.6723455, -110.6619555)",earth,NaN,31.6723455,-110.6619555
25,Yunnan Astronomical Observatory,3,https://en.wikipedia.org/wiki/Yunnan_Astronomi...,1957,"Kunming,Yunnan, China","(25.0363006, 102.7086139)",earth,NaN,25.0363006,102.7086139
26,Acton Sky Portal Observatory,2,https://en.wikipedia.org/wiki/European_Souther...,NaN,"Acton, MA, USA","(42.485, -71.433333)",earth,NaN,42.485,-71.433333
27,Anglo-Australian Telescope,35,https://en.wikipedia.org/wiki/Anglo-Australian...,1974.0,"New South Wales, AUS","(-31.2754, 149.067)",earth,NaN,-31.2754,149.067
28,Atacama Large Millimeter Array (ALMA),1,https://en.wikipedia.org/wiki/Atacama_Large_Mi...,2011.0,"Antofagasta Region, Chile","(-23.0193, -67.7532)",earth,NaN,-23.0193,-67.7532
29,Bohyunsan Optical Astronomical Observatory,26,https://en.wikipedia.org/wiki/Bohyunsan_Optica...,1996.0,"Youngchun, South Korea","(43.740158, 125.3005774)",earth,NaN,43.740158,125.3005774
32,European Southern Observatory,3,https://en.wikipedia.org/wiki/European_Souther...,1962.0,"Atacama Desert, Chile","(-24.5563029, -69.4226479)",earth,NaN,-24.5563029,-69.4226479
34,HATNet,67,https://en.wikipedia.org/wiki/HATNet_Project,2001.0,"Budapest, Hungary","(47.4997, 18.96389)",earth,NaN,47.4997,18.96389
35,HATSouth,73,https://en.wikipedia.org/wiki/HATNet_Project,2009.0,Australia,"(-25, 133)",earth,"HATSouth has telescopes in Australia, Namibia ...",-25,133
36,HATSouth,73,https://en.wikipedia.org/wiki/HATNet_Project,2009.0,Namibia,"(-22, 17)",earth,"HATSouth has telescopes in Australia, Namibia ...",-22,17
37,HATSouth,73,https://en.wikipedia.org/wiki/HATNet_Project,2009.0,Chile,"(-34, -71)",earth,"HATSouth has telescopes in Australia, Namibia ...",-34,-71
38,Infrared Survey Facility,1,https://en.wikipedia.org/wiki/South_African_As...,2000.0,"Sutherland, Northern Cape, South Africa","(-32.3783, 20.8105)",earth,NaN,-32.3783,20.8105
41,KELT,10,https://en.wikipedia.org/wiki/Kilodegree_Extre...,2005.0,"Arizona, US","(34.29, -111.66)",earth,NaN,34.29,-111.66
42,KELT-North,7,https://en.wikipedia.org/wiki/Kilodegree_Extre...,2005.0,"Arizona, US","(31.665578, -110.601783)",earth,NaN,31.665578,-110.601783
43,KELT-South,4,https://en.wikipedia.org/wiki/Kilodegree_Extre...,2009.0,"Sutherland, Northern Cape, South Africa","(-32.3783, 20.8105)",earth,NaN,-32.3783,20.8105
44,KMTNet,121,https://en.wikipedia.org/wiki/KMTNet,2015.0,"Mt. Cerro Tololo, Coquimbo, Chile","(-30.169167, -70.806389)",earth,NaN,-30.169167,-70.806389
47,Lowell Observatory,3,https://en.wikipedia.org/wiki/Lowell_Observatory,1894.0,"Flagstaff, Arizona, US","(35.1987522, -111.651822)",earth,NaN,35.1987522,-111.651822
48,MEarth Project,2,https://en.wikipedia.org/wiki/MEarth_Project,2008.0,"Mount Hopkins, Arizona, US","(31.6890556, -110.884703)",earth,NaN,31.6890556,-110.884703
49,MOA,33,https://en.wikipedia.org/wiki/Microlensing_Obs...,2004.0,"Lake Tekapo,South Island, New Zealand","(-44.0045194, 170.4777273)",earth,NaN,-44.0045194,170.4777273
52,NASA Infrared Telescope Facility (IRTF),1,https://en.wikipedia.org/wiki/NASA_Infrared_Te...,1977.0,"Hawaiʻi County, Hawaii","(19.8263, -155.473)",earth,NaN,19.8263,-155.473
53,Next-Generation Transit Survey (NGTS),22,https://en.wikipedia.org/wiki/Next-Generation_...,2015.0,"Atacama, Chile","(-24.615833, -70.391111)",earth,NaN,-24.615833,-70.391111
54,OGLE,110,https://en.wikipedia.org/wiki/Optical_Gravitat...,1992.0,"Las Campanas Observatory, Chile","(-29.01, -70.699)",earth,NaN,-29.01,-70.699
55,Okayama Astrophysical Observatory,36,https://en.wikipedia.org/wiki/National_Astrono...,1988.0,"Asakuchi, Okayama","(34.576073, 133.594115)",earth,NaN,34.576073,133.594115
57,SPECULOOS Southern Observatory,2,https://en.wikipedia.org/wiki/SPECULOOS,2017.0,"Atacama, Chile","(-24.615833, -70.391111)",earth,NaN,-24.615833,-70.391111
58,South African Radio Astronomy Observatory (SARAO),1,https://en.wikipedia.org/wiki/Hartebeesthoek_R...,1975.0,"Gauteng, Transvaal, South Africa","(-25.89037, 27.68558)",earth,NaN,-25.89037,27.68558
59,Subaru Telescope,11,https://en.wikipedia.org/wiki/Subaru_Telescope,1998.0,"Hawaii, US","(19.8256, -155.4761)",earth,NaN,19.8256,-155.4761
60,SuperWASP,122,https://en.wikipedia.org/wiki/Wide_Angle_Searc...,2006.0,"La Palma, Canary Islands, Spain","(28.7602, -17.8793)",earth,NaN,28.7602,-17.8793
61,SuperWASP-North,5,https://en.wikipedia.org/wiki/Wide_Angle_Searc...,2006.0,"La Palma, Canary Islands, Spain","(28.7602, -17.8793)",earth,NaN,28.7602,-17.8793
62,SuperWASP-South,32,https://en.wikipedia.org/wiki/Wide_Angle_Searc...,2006.0,"Sutherland, Northern Cape, South Africa","(-32.3783, 20.8105)",earth,NaN,-32.3783,20.8105
63,Thueringer Landessternwarte Tautenburg,7,https://en.wikipedia.org/wiki/Karl_Schwarzschi...,1960.0,"Jena, Germany","(50.9281717, 11.5879359)",earth,NaN,50.9281717,11.5879359
64,TrES,5,https://en.wikipedia.org/wiki/Trans-Atlantic_E...,2004.0,"Flagstaff, Arizona, US","(35.1987522, -111.651822)",earth,NaN,35.1987522,-111.651822
65,TrES,5,https://en.wikipedia.org/wiki/Trans-Atlantic_E...,2004.0,"Palomar Mountains, San Diego County, California","(33.3564, -116.865)",earth,TrES has telescopes in US and Spain. The displ...,33.3564,-116.865
66,TrES,5,https://en.wikipedia.org/wiki/Trans-Atlantic_E...,2004.0,"Mount Teide, Canary Islands, Spain","(28.7602, -17.8793)",earth,TrES has telescopes in US and Spain. The displ...,28.7602,-17.8793
68,United Kingdom Infrared Telescope,2,https://en.wikipedia.org/wiki/United_Kingdom_I...,1979.0,"Hawaii, US","(19.8256, -155.4761)",earth,NaN,19.8256,-155.4761
69,University of Canterbury Mt John Observatory,1,https://en.wikipedia.org/wiki/Mount_John_Unive...,1965.0,"Mackenzie Basin, South Island, New Zealand","(-43.986667, 170.465)",earth,NaN,-43.986667,170.465
70,W. M. Keck Observatory,191,https://en.wikipedia.org/wiki/Keck_Observatory,1993.0,"Mauna Kea,Hawaii, US","(19.8206673, -155.468071)",earth,NaN,19.8206673,-155.468071
71,WASP-South,11,https://en.wikipedia.org/wiki/Wide_Angle_Searc...,2006.0,"Sutherland, Northern Cape, South Africa","(-32.3783, 20.8105)",earth,NaN,-32.3783,20.8105
73,XO,6,https://en.wikipedia.org/wiki/XO_Project,2006.0,"Hawaii, US","(19.8256, -155.4761)",earth,NaN,19.8256,-155.4761
74,Xinglong Station,2,https://en.wikipedia.org/wiki/Xinglong_Station...,1968.0,"Xinglong County,Chengde,Hebeiprovince, China[12]","(40.4659616, 117.7921122)",earth,NaN,40.4659616,117.7921122
75,Zwicky Transient Facility,2,https://en.wikipedia.org/wiki/Zwicky_Transient...,2018.0,"San Diego County, California, US","(33.35731, -116.85981)",earth,NaN,33.35731,-116.85981

In [4]:
import pandas as pd
all_observatories=pd.read_csv('../data/observatories_exoplanets_geolocated.csv').drop('Name', axis=1).rename(columns={'disc_facility':'Name', 
                                                                                                                    'pl_name':'N of discovered planets',
                                                                                                                    'Established':'Year of Establishment'})
all_observatories.fillna('Unknown', inplace=True)
all_observatories['note']=all_observatories['note'].replace('Unknown', '')

obs_space=all_observatories[all_observatories['type']=='space'].copy()
obs_space['Year of Establishment']=[x.split('.')[0] for x in obs_space['Year of Establishment']]
obs_space=obs_space.sort_values(by='N of discovered planets', ascending=False)
obs_space['Name']='🚀 ' + obs_space['Name']

In [6]:
len(obs_space)

10